<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nice295.healthbattle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".HealthBattleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/MainAppTheme">

        </activity>

        <activity
            android:name=".WorkoutActivity"
            android:label="@string/shoulder_press"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".BattleActivity"
            android:label="@string/battle"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".FacebookLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <activity
            android:name=".Debug.DebugmainActivity"
            android:label="@string/debug"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Debug.ShoulderPressActivity"
            android:label="@string/shoulder_press"
            android:parentActivityName=".Debug.DebugmainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Debug.DebugmainActivity" />
        </activity>

        <activity
            android:name=".Debug.JumpingJackActivity"
            android:label="@string/jumping_jack"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Debug.DebugmainActivity" />
        </activity>

        <activity
            android:name=".Debug.AllMembersActivity"
            android:label="@string/all_member"
            android:parentActivityName=".Debug.DebugmainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Debug.DebugmainActivity" />
        </activity>

        <service
            android:name=".NotificationService"
            android:exported="false"></service>

        <receiver android:name=".StartServiceAtBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>