<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nice295.healthbattle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HealthBattleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/MainAppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".FacebookLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullTheme" >

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
            android:name=".Debug.DebugmainActivity"
            android:screenOrientation="portrait"
            android:label="@string/debug" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Debug.ShoulderPressActivity"
            android:screenOrientation="portrait"
            android:label="@string/shoulderpress" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Debug.DebugmainActivity" />
        </activity>

        <activity
            android:name=".Debug.JumpingJackActivity"
            android:screenOrientation="portrait"
            android:label="@string/jumping_jack" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Debug.DebugmainActivity" />
        </activity>

        <activity
            android:name=".Debug.AllMembersActivity"
            android:screenOrientation="portrait"
            android:label="@string/all_member" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Debug.DebugmainActivity" />
        </activity>

    </application>

</manifest>